body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(43, 48, 82);
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Updated box shadow */
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input[type="number"],
.container input[type="checkbox"] {
    margin-bottom: 15px;
}

.container button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container button:hover {
    background-color: #0056b3;
}

.password-display {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}
